{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
<div class="container">
    <div class="">
        <h3>Password reset sent</h3>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. you should receive them shortly.</p>
<p>If you don't receive an email, please make sure you have entered the address you registered with, and check your spam folder</p>
    </div>
</div>
</body>
</html>