{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
<div class="container">
    <div class="">
        <h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now</p>
        <a href="/">Log in</a>
    </div>
</div>
</body>
</html>