{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
<div class="container">
    <div class="form-group">
        <h3>Enter new Password</h3>

<p>Please enter Your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="Submit" name="Update Password">
</form>
    </div>
</div>
</body>
</html>